body {
    display: grid;
    grid-template: auto / 1fr 6fr;
    min-height: 100vh;
    align-items: start;
    margin: 8px 8px;
}

body>:nth-child(2),
h1 {
    align-self: center;
}

.dashboard-links {
    gap: 10px;
    margin-top: 30px;
}

section {
    display: grid;
}

section.content {
    grid-template: auto / 1fr;
}

.your-projects {
    grid-template-columns: repeat(auto-fit, minmax(341px, 1fr));
    gap: 20px;
}

.announcements,
.trending {
    grid-template: repeat(4 , auto) /  345px;
    gap: 20px;
}

main {
    display: flex;
    gap: 20px;
    align-items: first baseline;
}

h2 {
    grid-column: 1 / -1;
    font-weight: bold;
    margin-top: 50px;
    font-size: 25px;
}
h1 {
    font-weight: bold;
    font-size: 30px;
}